.yp-client-id-first-enter-highlight-checkbox {
  width: 71%;
  top: 60%;
  left: 14%;
}

.yp-client-id-first-enter-highlight-save {
  width: 26%;
  top: 90%;
  left: 59%;
}


.yp-client-id-create-project-01-highlight {
  width: 20%;
  top: 31%;
  left: 71%;
}


.yp-client-id-create-project-02__highlight-name {
  width: 34%;
  top: 48%;
  left: 6%;
}

.yp-client-id-create-project-02__highlight-create {
  width: 18%;
  top: 72%;
  left: 2%;
}


.yp-client-id-create-project-03-yp-screenshot-highlight {
  width: 52%;
  top: 31%;
  left: 20%;
}
