<article class="yp-home-article">
  <h1 class="yp-home-article-title">What is it?</h1>
  This is a Google Chrome Extension for YouTube users.
</article>
<article class="yp-home-article">
  <h1 class="yp-home-article-title">Capabilities</h1>
  <ul>
    <li>
      Keeps track of changes of the YouTube playlists (saves playlists history).
    </li>
    <li>
      Subscribes on a specific playlist instead of the whole channel.
    </li>
    <li>
      Gives the ability to explore deleted videos.
    </li>
  </ul>
</article>
