<div class="yp-content">
  <h1 class="yp-title">Playlists history</h1>
  <article class="yp-article">
    <h2 class="yp-article-title">What is it?</h2>
    Playlists history is a Google Chrome Extension for YouTube users.
  </article>
  <article class="yp-article">
    <h2 class="yp-article-title">Capabilities</h2>
    <ol>
      <li>
        Keeps track of changes of the YouTube playlists (saves playlists history).
      </li>
      <li>
        Subscribes to a specific playlist instead of the whole channel.
      </li>
      <li>
        Gives the ability to investigate deleted videos.
      </li>
      <li>
        Shows max quality video thumbnails.
      </li>
      <li>
        Reserves thumbnails of deleted videos.
      </li>
    </ol>
    See <a routerLink="/privacy-policy" class="yp-nav-link">privacy policy</a>.
  </article>
</div>
