:host {
  display: flex;
  justify-content: center;
  height: 100%;
  transition: all 1s;
}

.yp-home-article {
  line-height: 2em;
  margin: 50px;
  font-size: 28px;
  font-family: Aladin;
  color: #a4a78e;
  transition: all 1s;
}

.yp-home-article-title {
  line-height: 1em;
  font-family: Engagement,Roboto, Arial, sans-serif;
  font-size: 42px;
  color: #9a9880;
}

@media (max-width:800px) {
  :host {
    margin-top: 0;
    flex-direction: column;
    justify-content: normal;
  }

  .yp-home-article {
    margin: 8px 8px;
  }
}
