
<header class="yp-homepage-header yp-content-section">
  <h1 class="yp-homepage-title">
    Playlists history
  </h1>
  <div class="yp-homepage-header-info yp-homepage-last-step">
    <h2 class="yp-homepage-definition">
      Browser Extension for YouTube users
    </h2>
    <div class="yp-homepage-stores">
      <a mat-raised-button
         href="https://microsoftedge.microsoft.com/addons/detail/playlists-history/plnfajoghhcbhnamddchcgkmmccehamj"
         target="_blank"
         class="yp-homepage-store"
         title="Edge Add-on">Edge Add-on</a>
      <a mat-raised-button
         href="https://chrome.google.com/webstore/detail/playlists-history/mapoanpgddcgdiecldjkkgoogapkjhcm"
         target="_blank"
         class="yp-homepage-store"
         title="Chrome extension">Chrome extension</a>
    </div>
  </div>
</header>
<div class="yp-homepage-section yp-homepage-last-step yp-content-section">
  <button mat-icon-button
          aria-label="Share"
          title="share"
          (click)="share()">
    <mat-icon>share</mat-icon>
  </button>
  <section>
    <ol class="yp-homepage-section__content">
      <li>
        <h4 class="yp-homepage-capabily-title">Keeps track of changes of the YouTube playlists.</h4>
        <span class="yp-homepage-capabily-description">
          You can find out when a video was added or removed to a YouTube playlist.
        </span>
      </li>
      <li>
        <h4 class="yp-homepage-capabily-title">Subscribes to a specific playlist instead of the channel.</h4>
        <span class="yp-homepage-capabily-description">
          New data comes in automatically, you can understand the changes by the extension icon. Changes are grouped by playlists.
        </span>
      </li>
      <li>
        <h4 class="yp-homepage-capabily-title">Gives the ability to investigate deleted videos.</h4>
        <span class="yp-homepage-capabily-description">
          In YouTube, you will not find any information about the video removed from the playlist. Thanks to this extension, you can understand what video has been removed from the playlist by its title, description, creation date, detection date, position in the playlist and image.
        </span>
      </li>
      <li>
        <h4 class="yp-homepage-capabily-title">Shows max quality video thumbnails.</h4>
        <span class="yp-homepage-capabily-description">
          While YouTube video creators can use high-quality images, we often see only small images in search results or on a recommendation list. Even going to the video, we often cannot see the image itself added by the author. This extension allows you to look at these high quality images in the generated playlist history.
        </span>
      </li>
      <li>
        <h4 class="yp-homepage-capabily-title">Reserves thumbnails of deleted videos.</h4>
        <span class="yp-homepage-capabily-description">
          When someone deletes a video, you cannot see the associated images. This extension allows you to save the image before deleting it.
        </span>
      </li>
    </ol>
    <div class="yp-links">
      You can also group YouTube subscriptions using
      <a href="https://www.groupsrating.com/"
         target="_blank"
         title="Channel groups and rating">Channel groups and rating</a>
    </div>
  </section>
</div>
