.yp-client-id-extension-highlight-use {
  width: 52%;
  top: 42%;
  left: 1%;
}

.yp-client-id-extension-highlight-client-id {
  width: 84%;
  top: 68%;
  left: 1%;
}

.yp-client-id-extension-highlight-save {
  width: 11%;
  top: 98%;
  left: 1%;
}
