:root {
  --yp-link-color-primary: #846bec;
  --yp-link-color-primary--hover: #dd20ff;
  --yp-link-color-secondary: #7a61dc;
  --yp-link-color-secondary--active: #d162e5;
  --yp-link-color-secondary--hover: #dc40f7;
  --yp-app-title-font-family: Kavoon, "Helvetica Neue", sans-serif;
  --yp-nav-link-font-family: 'Engagement', "Helvetica Neue", sans-serif;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

app-root {
  height: 100%;
  display: flex;
  width: 100%;
  flex-direction: column;
}
