:root {
  --yp-link-color-primary: #846bec;
  --yp-link-color-primary--hover: #dd20ff;
  --yp-link-color-secondary: #7a61dc;
  --yp-link-color-secondary--active: #d162e5;
  --yp-link-color-secondary--hover: #dc40f7;
  --yp-app-title-font-family: Kavoon, "Helvetica Neue", sans-serif;
  --yp-nav-link-font-family: 'Engagement', "Helvetica Neue", sans-serif;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

app-root {
  height: 100%;
  display: flex;
  width: 100%;
  flex-direction: column;
}

.yp-article {
  margin-top: 1em;
  line-height: 1.5em;
  font-size: 27px;
  font-family: Aladin, Roboto, Arial, sans-serif;
  color: #251482;
  transition: font-size 1s;
}

.yp-drawer-container--wide .yp-article {
  font-size: 29px;
}

.yp-article-title {
  margin-bottom: 0.6em;
  font-size: 46px;
  color: #ce2ec9;
  font-weight: normal;
  transition: font-size 1s;
}

.yp-drawer-container--wide .yp-article-title {
  font-size: 65px;
}

.yp-drawer-container {
  flex: 1;
  overflow-y: auto;
  height: 100%;
}

.yp-content {
  padding: 0 8px;
  max-width: 1400px;
  display: flex;
  flex-direction: column;
  transition: opacity 1s, margin 1s;
  animation: yp-content-start 0s forwards;
}

.yp-drawer-container--wide .yp-content {
  animation: yp-content-start 1s forwards;
}

@keyframes yp-content-start {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.yp-app-title {
  font-family: var(--yp-app-title-font-family);
  --font-size: 32px;
  font-size: min(var(--font-size), 32px);
  height: 2em;
  line-height: 2em;
  padding: 0 5px;
  margin-left: 60px;
  background-image: linear-gradient( 90deg, white, #609fd1);
  color: transparent;
  -webkit-background-clip: text;
  overflow: hidden;
  transition: margin 1s;
}


@media screen and (max-width:500px) {
  .yp-app-title {
    margin-left: 8px;
  }
}
