:root {
  --yp-link-color-primary: #846bec;
  --yp-link-color-primary--hover: #dd20ff;
  --yp-link-color-secondary: #7a61dc;
  --yp-link-color-secondary--active: #d162e5;
  --yp-link-color-secondary--hover: #dc40f7;
  --yp-app-title-font-family: Kavoon, "Helvetica Neue", sans-serif;
  --yp-nav-link-font-family: 'Engagement', "Helvetica Neue", sans-serif;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

app-root {
  height: 100%;
  display: flex;
  width: 100%;
  flex-direction: column;
}

.yp-article {
  line-height: 2em;
  font-size: 24px;
  font-family: Aladin, Roboto, Arial, sans-serif;
  color: #251482;
  transition: all 1s;
  animation: yp-article-start 2s forwards;
}

.yp-article-title {
  height: 34px;
  font-family: Engagement, Roboto,Arial, sans-serif;
  font-size: 46px;
  color: #ce2ec9;
  font-weight: normal;
  transition: all 1s;
}

.yp-drawer-content {
  --linear-gradient: linear-gradient(90deg,#6a11cb,#2a6df8);
  --radial-gradient: radial-gradient(#ffffff 0%, #9847ad00);
  --total-gradient: var(--radial-gradient),var(--radial-gradient),var(--radial-gradient),var(--radial-gradient),var(--linear-gradient);
  padding: 16px 8px 0 8px;
  transition: all 1s;
  height: calc(100% - 16px);
  background-image: var(--total-gradient);
  background-size: max(100%, 1904px) max(100%, 929px);
  background-position-x: center;
  background-position-y: center;
}

.yp-drawer-content.mat-drawer-content {
  height: calc(100% - 16px);
}

.yp-content {
  margin: 100px 8px 8px 8px;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  transition: all 1s;
  animation: yp-content-start 2s forwards;
}

@keyframes yp-content-start {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media (max-width:800px) {
  .yp-drawer-content {
    background-size: max(100%, 1904px) 2000px;
  }

  .yp-article-title {
    margin: 0;
  }

  .yp-article {
    line-height: 1.5em;
  }

  .yp-content {
    margin-top: 16px;
  }
}
