.yp-nav-link {
  color: var(--yp-link-color-secondary);
  font-size: 26px;
  font-family: var(--yp-nav-link-font-family);
}

.yp-nav-link__text {
  padding-left: 16px;
}

.yp-nav-link.yp-nav-link--active {
  color: var(--yp-link-color-secondary--active);
  background: #eee8f9;
}

.yp-app-navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}


.yp-toolbar {
  z-index: 2;
  color: white;
  background: var(--yp-top-background);
  position: relative;
}

.yp-drawer-content {
  background-color: white;
}
