<mat-toolbar color="primary" class="mat-elevation-z4 yp-toolbar">
  <button mat-icon-button (click)="drawer.toggle()" aria-label="Menu">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="yp-app-title">Playlists history</span>
</mat-toolbar>

<mat-drawer-container class="yp-drawer-container"
                      [hasBackdrop]="true">
  <mat-drawer [mode]="'push'" #drawer
              [opened]="false"
              class="yp-drawer">
    <mat-nav-list (click)="tryToggle(drawer)">
      <a mat-list-item routerLink="/home"
         routerLinkActive="yp-nav-link--active"
         class="yp-nav-link">
        <mat-icon aria-hidden="false" aria-label="Home icon">home</mat-icon>
        <span class="yp-nav-link__text">Home</span>
      </a>
      <a mat-list-item routerLink="/privacy-policy"
         routerLinkActive="yp-nav-link--active"
         class="yp-nav-link">
        <mat-icon aria-hidden="false" aria-label="Privacy policy icon">policy</mat-icon>
        <span class="yp-nav-link__text">Privacy policy</span>
      </a>
      <a mat-list-item routerLink="/docs"
         routerLinkActive="yp-nav-link--active"
         class="yp-nav-link">
        <mat-icon aria-hidden="false" aria-label="Privacy policy icon">notes</mat-icon>
        <span class="yp-nav-link__text">Docs</span>
      </a>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content class="yp-drawer-content"
                      [class.yp-not-navigated]="navigated === 1 && resized === 0">
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
