.yp-client-id-consent-screen-01-highlight-setting {
  width: 26%;
  top: 55%;
  left: 3%;
}

.yp-client-id-consent-screen-01-highlight-create {
  width: 16%;
  top: 79%;
  left: 3%;
}


.yp-client-id-consent-screen-02-highlight-name {
  width: 25%;
  top: 64%;
  left: 6%;
}

.yp-client-id-consent-screen-02-highlight-email {
  width: 32%;
  top: 76%;
  left: 6%;
}


.yp-client-id-consent-screen-03-highlight-email {
  width: 32%;
  top: 87%;
  left: 7%;
}

.yp-client-id-consent-screen-03-highlight-continue {
  width: 29%;
  top: 98%;
  left: 4%;
}


.yp-client-id-consent-screen-04-highlight {
  width: 35%;
  top: 58%;
  left: 6%;
}


.yp-client-id-consent-screen-06-highlight-scopes {
  width: 54%;
  top: 87%;
  left: 6%;
}

.yp-client-id-consent-screen-06-highlight-add-button {
  width: 22%;
  top: 96%;
  left: 4%;
}



.yp-client-id-consent-screen-07-highlight {
  width: 16%;
  top: 99%;
  left: 3%;
}


.yp-client-id-consent-screen-08-highlight {
  width: 31%;
  top: 98%;
  left: 3%;
}


.yp-client-id-consent-screen-09-highlight {
  width: 24%;
  top: 64%;
  left: 3%;
}


.yp-client-id-consent-screen-10-highlight-email {
  width: 33%;
  top: 41%;
  left: 6%;
}

.yp-client-id-consent-screen-10-highlight-add {
  width: 10%;
  top: 51%;
  left: 4%;
}


.yp-client-id-consent-screen-11-highlight {
  width: 29%;
  top: 97%;
  left: 4%;
}
