
body {
    display: flex;
    justify-content: center;
}
.yp-privacy-policy {
    max-width: 640px;
    font-size: 18px;
    line-height: 1.5em;
    font-family: Roboto, Arial, sans-serif;
}
