

.yp-client-id-credentials-01-highlight {
  width: 32%;
  top: 21%;
  left: 42%;
}


.yp-client-id-credentials-02-highlight {
  width: 80%;
  top: 36%;
  left: 3%;
}


.yp-client-id-credentials-03-highlight {
  width: 84%;
  top: 44%;
  left: 8%;
}


.yp-client-id-credentials-04-highlight {
  width: 27%;
  top: 54%;
  left: 6%;
}


.yp-client-id-credentials-05-highlight-uri {
  width: 64%;
  top: 81%;
  left: 6%;
}

.yp-client-id-credentials-05-highlight-create {
  width: 14%;
  top: 98%;
  left: 4%;
}

.yp-client-id-credentials-06-highlight {
  width: 17%;
  top: 74%;
  left: 11%;
}


.yp-client-id-credentials-07-highlight {
  width: 54%;
  top: 38%;
  left: 38%;
}
